/* JS */

.section-hover-container{
    transition: background-color 0.5s ease-in;
    background-color: #5460E1 !important;
    color: #f1f1f1;
    
}

.section-hover-div{
    transition: background-color 0.5s ease-in;
    background-color: #757ee0;
    color: #f1f1f1;
}

.section-hover-card{
    transition: border;
    border: 2px solid #f1f1f1;
}
/*
Classes css normais.
*/


body{
    font-family: 'Arial';
    height: 100%;
    width: 90%;
    margin: 2em auto;
    background-color: #D5D9FE;
    background-image: url(https://vinicius-leitao.github.io/capacitacao_frontend/dots.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.header-container{
    background-color: #5460E1;
    height: auto;
    display: grid;
    grid-template-columns: [h1-start] 1fr  [h1-end img-start] 1fr [img-end];
    grid-template-rows: [nav-start] auto  [nav-end content-start] 1fr [content-end];
}

.nav-container{
    position: relative;
    grid-row: nav;
    grid-column: 1/-1;
    width: 80%;
    margin: auto;
    padding: 4em 0;
}

#ul-img{
    width: 20%;
    display: inline-block;
}

.nav-ul{
    position: absolute;
    right: 2em;
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 5em;
}

.nav-ul a{
    text-decoration: none;
    color: #f1f1f1
}

.nav-ul li{
    display: inline-block;
    margin-right: 1.5em;
}

#nav-ul-login{
    background-color: #F76F01;
    padding: 0.2em 1em;
    border-radius: 1em;
}

.header-h1-container{
    grid-row: content;
    grid-column: h1;
    width: 80%;
    margin: 0 0 0 20%;
    padding: 0 0 4em 0;
}

.header-h1{
    color: #f1f1f1;
}

.header-p{
    color: #f1f1f1;
    width: 80%;
}

.header-image-container{
   background-image: url(https://vinicius-leitao.github.io/capacitacao_frontend/dev.svg);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: top;
   padding-bottom: 9em;
   margin-bottom: -9em;
}

.header-links-container{
    margin-top: 2em;
}

#study{
    text-decoration: none;
    color: #f1f1f1;
    background-color: #F76F01;
    padding: 0.5em 1em;
    border-radius: 2em;
}

#see{
    text-decoration: none;
    color: #f1f1f1;
    background-color: #5460E1;
    border: 1px solid #f1f1f1;
    padding: 0.5em 1em;
    border-radius: 2em;
}

.section-container{
    background-color: #fff;
    transition: background-color 0.5s ease-in;
}

.section-content{
    padding-top: 12em;
    min-height: 500px;
    display: flex;
}

.section-cards{
    display: flex;
    width: 70%;
    margin-right: 10%;
    justify-content: space-around;
}

.section-text{
    transition: background-color 0.5s ease-in;
    width: 20%;
    padding-left: 10%;
    border-radius: 0 20px 0 0;
}

.section-text a{
    text-decoration: none;
    display: inline-block;
    margin-top: 2em;
}

#span-js{
    padding: .6em;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #F76F01;
    border-radius: 50%;
}

#span-js img{
    display: inline-block;
    color: #f1f1f1;
}

.card{
    display: block;
    width: 25%;
    border-radius: 2em;
    min-height: 365px;
    max-height: 365px;
    box-shadow: 0 0 3em #5460e149;
    text-align: center;
}

.card img{
    height: 60%;
    width: 90%;
}

.card:first-child + .card{
    margin-top: 4em;
}



