<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha homepage - Capacitação</title>
</head>
<body>

    <nav class="nav-container">
        <ul class="nav-ul">
            
            <a href="/"><img src="../images/logo.png" alt="Logotipo da marca com link para homepage"></a>

            <a href="#"><li>Home</li></a>
            <a href="#"><li>About us</li></a>
            <a href="#"><li>Services</li></a>
            <a href="#"><li>Blog</li></a>
            <a href="#"><li>Contact us</li></a>
            <a href="#"><li id="nav-ul-login">Login</li></a>

        </ul>
    </nav>
    <header class="header-container">
    <section class="section-container">
        <h2 class="section-h2">Por que aprender a programar</h2>
        <p class="section-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet cum impedit corporis. Sint, ducimus eligendi. Corrupti voluptatem vel, error adipisci similique, cum, iure accusantium dolor praesentium deserunt placeat nisi ipsum!</p>

        <div class="section-card">
            <img src="#" alt="#">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="section-card">
            <img src="#" alt="#">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="section-card">
            <img src="#" alt="#">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        
    </section>
    
    <div class="header-h1-container">

        <h1 class="header-h1">
            Bem vindo a sua capacitação de Front-end! Preparado para se tornar um ótimo profissional? Então vamos lá!
        </h1>

        <p class="header-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur veritatis, id impedit commodi quos doloremque dolor! Saepe quaerat nostrum impedit earum, dolorum asperiores veniam nemo quibusdam doloribus repudiandae nulla aliquid?</p>

        <div class="header-links-container">
            <a href="#">Estude agora</a>
            <a href="#">Acompanhe seu progresso</a>
        </div>
    </div>

    <div class="header-image-container">
        <img src="../images/dev.svg" alt="developer programming">
    </div>

    </header>
    <footer class="footer-container">

    </footer>
</body>
</html>