<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha homepage - Capacitação</title>
</head>
<body>

    <nav class="nav-container">
        <ul class="nav-ul">
            
            <li>Home</li>
            <li>About us</li>
            <li>Services</li>
            <li>Blog</li>
            <li>Contact us</li>
            <li id="nav-ul-login">Login</li>

        </ul>
    </nav>
    <header class="header-container">



    </header>
    <footer class="footer-container">

    </footer>
</body>
</html>